body {background-color: rgb(217, 245, 236);
    font-family: 'Open Sans', sans-serif;

}
.item {
    display: flex;
    flex-direction: column;
    color: rgb(206, 233, 233);
    width:45%;
    background-color:rgb(196, 190, 190);
    margin-bottom: 50px;
    position: relative;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

.post {
    display:inline;
    width: 30%;
}

.create {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: chartreuse;
    font-size: 2rem;
    position:absolute;
    top:20px;
    right:20px;

}

.create:hover{
    letter-spacing: .4px;
    padding: 12.5px 22.5px;
    border: solid 3px aliceblue;
}

h1,h2,p,strong {
   
    margin: 10px;
    padding:5px;
    box-sizing: border-box;

}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20px;
}

h2 {
    text-align: center;
    font-style: italic;
    opacity: 50%;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;

}

p {font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}

strong {text-align: ledtt;
    font-weight: 300;
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;

}

header h1 {
    background-color: aquamarine;
    font-weight: 600;
    padding:20px;

}

header {
    background-color: aquamarine;
    height: 100px;

}

.update { 
    padding: 5px 10px;
    border-radius: 50px;
    background-color: rgb(191, 230, 152);
    font-size: 2rem;
    display: inline-block;
    margin-top: 5px;
    margin-right:10px;
    position: absolute;
  right:150px;

  
    
   

}
.content {
    background-color: aliceblue;
    color: black;
   
    
}

.delete { padding: 5px 10px;
    border-radius: 50px;
    background-color: rgb(218, 58, 34);
    font-size: 2rem;
    display: inline-block;
  margin-top: 5px;
  position: absolute;
  right:10px;

 
   
}

.item div form {display: inline-block;

}

.update:hover, .delete:hover{
    letter-spacing: .2px;
    padding: 7.5px 12.5px;
    border: solid 3px rgb(227, 215, 215);
}

.hole {
    background-color: rgb(193, 206, 217);
    position: relative;
    top:10px;
    height: 60px;
    border-radius: 20px;
    

}

.contentbox {
   
    
}